* {
    box-sizing: border-box;
}

:root {
    --primary-bgc: #fffcf4;
    --primary-title-c: #171100;
    --font-title: Sen, sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */

a {
    text-decoration: none;
}

.content {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    max-width: calc(100% - 48px);
}

.btn {
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 17px 16px;
    min-width: 118px;
    text-align: center;
    color: #fff;
    border-radius: 999px;
    background-color: var(--primary-title-c);
}

.btn:hover {
    opacity: 0.9;
}
/* ===Header=== */

header.fixed {
    position: sticky;
    top: -28px;
    z-index: 1;
}

.header {
    background-color: var(--primary-bgc);
}

.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.header ul {
    display: flex;
}

.nav {
    margin-left: auto;
    margin-right: 49px;
}

.nav a {
    position: relative;
    font-size: 1.6rem;
    padding: 8px 21px;
    color: #5f5b53;
}
.nav a:hover,
.nav li.active a {
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}

.nav li.active a::after {
    position: absolute;
    content: "";
    left: 21px;
    bottom: 6px;
    display: block;
    width: 12px;
    height: 2px;
    border-radius: 1px 0px 0px 0px;
    background-color: var(--primary-title-c);
}

.header .sign-up {
    min-width: 144px;
}

/* HERO */

.hero {
    padding: 56px 0 65px;
    background-color: var(--primary-bgc);
}

.hero .body {
    display: flex;
}

.hero .media-block {
    position: relative;
    width: 48%;
}

.hero .media-block .hero-img {
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
    vertical-align: bottom;
}

.hero .media-block .label {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 26px;
    color: #5f5b53;
}

.hero .media-block .title {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
    color: #171100;
}

.hero .media-block .item + .item {
    margin-top: 22px;
}

.hero .hero-summary {
    position: absolute;
    padding: 24px;
    width: 270px;
    bottom: 48px;
    right: 0;
    border-radius: 12px;
    background-color: #ffffff;
}

.hero .hero-summary .item {
    display: flex;
    align-items: center;
}

.hero .hero-summary .icon {
    position: relative;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff9e8;
}

.hero-summary .item:nth-of-type(2) .icon {
    background-color: #fcefff;
}

.hero-summary .item:nth-of-type(3) .icon {
    background-color: #ebeaff;
}

.hero .media-block .info {
    margin-left: 16px;
}

.hero .icon a {
    position: absolute;
    display: inline-block;
    justify-content: center;
}

.hero .content-block {
    padding: 64px 0 0 130px;
    width: 52%;
    height: 558px;
    border-radius: 32px 0px 0px 0px;
}

.hero h1 {
    font-family: var(--font-title);
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 68px;
    letter-spacing: -0.02em;
    text-align: left;
    color: var(--primary-title-c);
}

.hero .content-block .desc {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #5f5b53;
    margin-top: 22px;
}

.hero .content-block .cta-group {
    display: flex;
    align-items: center;
    margin-top: 38px;
}

#rencent {
    margin: 48px 0 8px;
}

.hero .watch-video {
    display: flex;
    margin-left: 28px;
    align-items: center;
    border: none;
    background-color: var(--primary-bgc);
    cursor: pointer;
}

.hero .content-block .watch-video .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 14px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0px 8px 16px 0px #00000012;
    background-color: #fff;
}

.hero .content-block .watch-video span {
    display: block;
    padding-right: 14px;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
    text-align: left;
    color: #171100;
}

.hero .content-block .icon img {
    display: inline-block;
    margin: auto;
}

.hero .content-block .see-course {
    background-color: #ffb900;
    min-width: 180px;
}

.hero .content-block .stats {
    margin: 8px 0 0 -28px;
}

.hero .content-block .stats strong {
    font-family: var(--font-title);
    padding: 0 8px 0 28px;
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 1.23;
    text-align: left;
    color: #171100;
}
