* {
    box-sizing: border-box;
}

:root {
    --primary-bgc: #fffcf4;
    --primary-title-c: #171100;
    --font-title: Sen, sans-serif;
    --primary-color: #ffb900;
    --primary-desc-c: #5f5b53;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */

a {
    text-decoration: none;
}

.content {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    max-width: calc(100% - 48px);
}

.btn {
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 17px 16px;
    min-width: 118px;
    text-align: center;
    color: #fff;
    border-radius: 999px;
    background-color: var(--primary-title-c);
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.heading {
    font-family: var(--font-title);
    letter-spacing: -0.02em;
    color: var(--primary-title-c);
}

.heading.lv1 {
    font-size: 5.8rem;
    line-height: 1.17;
}

.heading.lv2 {
    font-size: 3.8rem;
    line-height: 1.26;
}
.break-all {
    word-break: break-word;
}

/* ===Header=== */

header.fixed {
    position: sticky;
    top: -28px;
    z-index: 1;
}

.header {
    background-color: var(--primary-bgc);
}

.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.header ul {
    display: flex;
}

.nav {
    margin-left: auto;
    margin-right: 49px;
}

.nav a {
    position: relative;
    font-size: 1.6rem;
    padding: 8px 21px;
    color: #5f5b53;
}
.nav a:hover,
.nav li.active a {
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}

.nav li.active a::after {
    position: absolute;
    content: "";
    left: 21px;
    bottom: 6px;
    display: block;
    width: 12px;
    height: 2px;
    border-radius: 1px 0px 0px 0px;
    background-color: #171100;
}

.header .sign-up {
    min-width: 144px;
}

/* HERO */

.hero {
    padding: 56px 0 65px;
    background-color: var(--primary-bgc);
}

.hero .body {
    display: flex;
}

.hero .media-block {
    position: relative;
    width: 48%;
}

.hero .media-block .hero-img {
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
    vertical-align: bottom;
}

.hero .media-block .label {
    font-size: 1.4rem;
    line-height: 26px;
    color: #5f5b53;
}

.hero .media-block .title {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
    color: var(--primary-title-c);
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-2 {
    --line-clamp: 2;
}

.line-clamp.line-3 {
    --line-clamp: 3;
}

.hero .media-block .item + .item {
    margin-top: 22px;
}

.hero .hero-summary {
    position: absolute;
    padding: 24px;
    width: 270px;
    bottom: 48px;
    right: 0;
    border-radius: 12px;
    background-color: #ffffff;
}

.hero .hero-summary .item {
    display: flex;
    align-items: center;
}

.hero .hero-summary .icon {
    position: relative;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff9e8;
}

.hero-summary .item:nth-of-type(2) .icon {
    background-color: #fcefff;
}

.hero-summary .item:nth-of-type(3) .icon {
    background-color: #ebeaff;
}

.hero .media-block .info {
    margin-left: 16px;
}

.hero .content-block {
    padding: 64px 0 0 130px;
    width: 52%;
    height: 558px;
    border-radius: 32px 0px 0px 0px;
}

.hero .content-block .desc {
    margin-top: 22px;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5f5b53;
}

.hero .content-block .cta-group {
    display: flex;
    align-items: center;
    margin-top: 38px;
}

#rencent {
    margin: 48px 0 8px;
}

.hero .watch-video {
    display: flex;
    margin-left: 28px;
    align-items: center;
    border: none;
    background-color: var(--primary-bgc);
    cursor: pointer;
}

.hero .content-block .watch-video .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 14px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0px 8px 16px 0px #00000012;
    background-color: #fff;
}

.hero .content-block .watch-video span {
    display: block;
    padding-right: 14px;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
    text-align: left;
    color: #171100;
}

.hero .content-block .icon img {
    display: inline-block;
    margin: auto;
}

.hero .content-block .see-course {
    background-color: var(--primary-color);
    min-width: 180px;
}

.hero .content-block .stats {
    margin: 8px 0 0 -28px;
}

.hero .content-block .stats strong {
    font-family: var(--font-title);
    padding: 0 8px 0 28px;
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 1.23;
    text-align: left;
    color: #171100;
}

/* POPULAR */

.popular {
    padding: 65px 0 200px;
    margin-top: 135px;
}

.popular .popular-top {
    display: flex;
    align-items: center;
}

.popular .popular-top .desc {
    font-size: 1.8rem;
    line-height: 30px;
    /* text-align: left; */
    color: var(--primary-desc-c);
    margin-top: 22px;
    max-width: 485px;
}

.popular .popular-top .controls {
    display: flex;
    margin-left: auto;
    gap: 18px;
}

.popular-top .controls-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    background-color: transparent;
}

.popular-top .controls-btn:hover {
    color: #fff;
    background: var(--primary-color);
    cursor: pointer;
}

.course-list {
    display: flex;
    margin-top: 55px;
    gap: 30px;
}

.course-list .list-item {
    flex: 1px;
    background-color: #fff;
    border: 1px solid #e2dfda;
    border-radius: 12px;
}

.course-list .list-item:hover {
    border-color: transparent;
    box-shadow: 0px 18px 36px 0px #0000000d;
}

.course-list .list-item .thumb {
    width: 100%;
    height: 278px;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
}

.course-list .list-item .info {
    padding: 16px 22px 22px;
}

.course-list .list-item .title a {
    padding-right: 6px;
    font-size: 1.8rem;
    line-height: 1.67;
    font-weight: 600;
    text-align: left;
    color: var(--primary-title-c);
}

.course-list .info .foot,
.course-list .info .head .rating,
.course-list .info .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.course-list .foot {
    margin-top: 12px;
}

.course-list .value {
    color: #fea31b;
    margin-left: 6px;
}

.course-list .list-item .desc {
    margin-top: 6px;
    font-size: 1.4rem;
    line-height: 1.86;
    color: var(--primary-desc-c);
}

.course-list .list-item strong {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
    text-align: left;
    color: #171100;
}

.course-list .book-btn {
    border: none;
}

.course-list .book-btn:hover {
    color: #fff;
    background: var(--primary-color);
}

/* FEEDBACK */

.feedback {
    background-color: #2e2100;
    padding: 96px 0;
}

.feedback-list {
    display: flex;
    overflow: hidden;
}

.feedback-item {
    display: flex;
    flex-shrink: 0;
    width: 100%;
    justify-content: space-between;
}

.feedback .info {
    width: 13.6%;
}

.feedback .quote-content {
    width: 65.8%;
}

.feedback .avt {
    width: 72px;
    height: 72px;
    object-fit: cover;
    border-radius: 50%;
}

.feedback .info .title {
    font-family: Sen;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.41;
    color: #f7f7f7;
}

.feedback .info .desc {
    font-size: 1.4rem;
    line-height: 1.86;
    color: var(--primary-desc-c);
}

.feedback .info .dots {
    display: flex;
    margin-top: 28px;
}

.feedback .info .dot {
    margin-right: 6px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #634700;
    cursor: pointer;
}

.feedback-item .dot.active {
    background-color: var(--primary-color);
    cursor: default;
}

.feedback .quote-content blockquote {
    margin-left: 30px;
    font-size: 2.6rem;
    font-style: italic;
    line-height: 1.54;
    color: #fff;
}

/* FEATURE */

.feature {
    margin-top: 135px;
    padding: 65px 0;
}

.feature .body {
    display: flex;
    justify-content: space-between;
}

.feature .image {
    display: flex;
    width: 48.7%;
    justify-content: space-between;
}

.feature .image img {
    width: 270px;
    height: 404px;
    object-fit: cover;
    border-radius: 12px;
}

.feature .image img:nth-of-type(1) {
    margin-top: 34px;
}

.feature .feature-content {
    width: 40.2%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.feature .feature-content .desc {
    margin-top: 16px;
    font-size: 1.6rem;
    line-height: 1.75;
    color: var(--primary-desc-c);
}

.feature .feature-content .btn {
    margin-top: 32px;
    background-color: var(--primary-color);
    min-width: 137px;
}

.feature-2nd {
    margin: 70px 0 135px;
}

.feature-2nd .body {
    flex-direction: row-reverse;
}

.feature .feature-content {
    width: 48.7%;
}

.feature-2nd .image {
    width: 40.2%;
}

.feature-2nd .image img {
    width: 470px;
    height: 440px;
    margin-top: -34px;
}

/* BLOG */

.blog {
    background-color: var(--primary-bgc);
    padding: 96px 0;
}

.blog .head {
    text-align: center;
}

.blog .head .desc {
    margin: 16px auto 0;
    width: 448px;
    font-size: 1.6rem;
    line-height: 1.75;
    color: var(--primary-desc-c);
}

.blog .blog-list {
    margin-top: 55px;
    display: flex;
    gap: 30px;
    overflow: hidden;
}

.blog .blog-list .item {
    flex-shrink: 0;
    width: calc(33.33% - 20px);
    border-radius: 0 0 16px 16px;
}

.blog .blog-list .item:hover {
    box-shadow: 0px 16px 32px 0px #0000000d;
}

.blog .blog-list .thumb {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 16px 16px 0px 0px;
}

.blog .item .info {
    padding: 20px 20px 28px;
}

.blog .item .date::before {
    margin-right: 4px;
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--primary-color);
}

.blog .blog-list .date {
    padding-bottom: 12px;
    position: relative;
    display: inline-flex;
    align-items: center;
    font-size: 1.4rem;
    line-height: 1.75;
    color: var(--primary-desc-c);
}

.blog .item .date::after {
    position: absolute;
    content: "";
    display: inline-block;
    height: 1px;
    left: 0;
    right: -27px;
    bottom: 0;
    border-radius: 0.5px;
    background-color: #e2dfda;
}

.blog .item .info .desc {
    margin-top: 12px;
}

.blog .item .info .desc a {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
    text-align: left;
    color: var(--primary-title-c);
}

.blog .info .btn {
    font-size: 1.4rem;
    margin-top: 12px;
}

.blog .info .btn:hover {
    background-color: var(--primary-color);
}

.dots {
    margin-top: 38px;
    display: flex;
    gap: 6px;
    justify-content: center;
}

.dots .dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #5f5b53;
}

.dots .dot.active {
    background-color: var(--primary-color);
}

/* FOOTER */

.footer {
    padding-top: 96px;
    background-color: #2e2100;
}

.footer .row {
    display: flex;
    padding-bottom: 38px;
    border-bottom: 1px solid #59554b;
}

.footer .row .column {
    width: 21.6%;
}
.footer .row .column:first-child {
    width: 35%;
}

.footer .row .socials {
    display: flex;
    gap: 18px;
}

.footer .row .desc {
    margin: 18px 0;
    max-width: 267px;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #bfbcb2;
}
.footer .row .title {
    display: inline-block;
    border-bottom: 1px solid #59554b;
    padding: 0 48px 14px 0;
    font-weight: 600;
    color: #fff;
}

.footer .list {
    margin-top: 28px;
}

.footer .list a {
    display: inline-block;
    font-size: 1.4rem;
    color: #bfbcb2;
    line-height: 1.86;
    margin-bottom: 12px;
}

.footer .list li:last-child a {
    margin-bottom: 0;
}

.footer .list strong {
    color: #fff;
}

.copyrignt p {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86;
    text-align: center;
    color: #807d74;
    padding: 28px 0;
}
